{% extends 'base.html '%}

{% block header%}
    <h4>{% block title %}Registro{% endblock %}</h4>
{% endblock header%}

{% block content %}

<form class="form-outline form-white mb-4" method="post">
    <div class="form-outline form-white mb-4">
        <p class="text-white-50 mb-5">Ingrese su nuevo nombre de usuario y contraseña!</p>
        <label class="form-label" for="username" >Nuevo usuario</label>
        <input for="username" type="text" name="username" id="username" class="form-control form-control-lg" required/>
        
    </div>
    <div class="form-outline form-white mb-4">
        <label class="form-label" for="password">Nueva contraseña</label>
        <input type="password" name="password" id="password" type='password' class="form-control form-control-lg" required/>
        
    </div>
    <button class="btn btn-outline-success btn-lg px-5" type="submit">Registrarse</button>
</form>

{% endblock content %}